{% load static %}

<nav class="navbar navbar-dark default-color navbar-expand-md justify-content-between">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'img/logoe.jpg' %}" alt="Logo" style="width: 50px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my-article' %}">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">À propos de nous</a>
      </li>
    </ul>
    <form class="form-inline my-1" action="{% url 'search' %}">
      <div class="md-form form-sm my-0">
        {% if user.is_authenticated %}
        <a href="{% url 'logout1' %}" class="btn btn-primary">Déconnexion</a>
        {% else %}
        <a href="{% url 'login-blog' %}" class="btn btn-primary">Connexion</a>
        {% endif %}
        <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Recherche" aria-label="Search" name="article">
      </div>
    </form>
  </div>
</nav>
